body {
    min-height: 200vh;
}

.logo {
    font-weight: 300;
    padding-left: 1em;
}

.thin-text {
    font-weight: 300;
    background: rgba(96, 125, 139, .4);
    padding: 4em;
    border-radius: 1em;
}